$primaryTextColor: #333333;
$secondaryTextColor: #ffffff;
$socialIconColor: #ffffff;
$placeholderTextColor: #808080;
$primaryLogoTextColor: #28a745;
$btnBgColor: #28a745;
$solutionBgColor: #28a745;
$articleBcColor: #0284d0;
$callbackBgColor: #f4f4f4;
$footerBgColor: #333333;
$primaryFontSize: 18px;
$mainFont: 'Open Sans', sans-serif;
$durationFunction: 250ms;
$timingFunction: cubic-bezier(0.4, 0, 0.2, 1);
