<section class="benefis">
  <div class="container">
    <h2 class="visually-hidden">feature</h2>
    <ul class="benefis__list">
      <li class="benefis__item">
        <div class="benefis__img">
          <svg class="benefis__icon" width="35" height="35">
            <use href="./images/icons.svg#icon-benefis1"></use>
          </svg>
        </div>
        <h3 class="benefis__title">Investmant Banking</h3>
        <p class="benefis__text">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur,
          necessitatibus!
        </p>
      </li>
      <li class="benefis__item">
        <div class="benefis__img">
          <svg class="benefis__icon" width="35" height="35">
            <use href="./images/icons.svg#icon-benefis2"></use>
          </svg>
        </div>
        <h3 class="benefis__title">Portfolio Manager</h3>
        <p class="benefis__text">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur,
          necessitatibus!
        </p>
      </li>
      <li class="benefis__item">
        <div class="benefis__img">
          <svg class="benefis__icon" width="35" height="35">
            <use href="./images/icons.svg#icon-benefis3"></use>
          </svg>
        </div>
        <h3 class="benefis__title">Tax & Custudio</h3>
        <p class="benefis__text">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur,
          necessitatibus!
        </p>
      </li>
    </ul>
  </div>
</section>
